<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/style.css">
</link>
<script src="program.js"></script>
<meta charset="UTF-8">

<head>
    <title>Babel</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,500&display=swap"
        rel="stylesheet">
</head>
<style>
    body {
        position: relative;
        font-family: 'Roboto', sans-serif;
    }
</style>
<div id="banner">
    <a href="/"><img src="/images/banner.jpg">
    </a>
    <h1>
        Babel
    </h1>
</div>
<div class="dropdown-container">
    <div class="dropdown">
        <button class="dropbtn">Literature</button>
        <div class="dropdown-content">
            <a href="persepolis">Persepolis</a>
            <a href="whiteTiger">The White Tiger</a>

        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Films</button>
        <div class="dropdown-content">
            <a href="babel">Babel</a>
            <a href="mountainsMayDepart">Mountains May Depart</a>

        </div>
    </div>
    <div class="dropdown">
        <a href="compLiterature"><button class="dropbtn">Comparative</button></a>
    </div>
    <div class="dropdown">
        <a href="outcome"><button class="dropbtn">Outcome</button></a>
    </div>
</div>
<h1>
    <a href="https://filmglossary.ccnmtl.columbia.edu/term/mise-en-scene/" title="Goes to the Mise-en-Scene Page"
        target="_blank">Mise-en-Scene</a>
</h1>
<div id="centerVid">

    <iframe width="560" height="315" src="https://www.youtube.com/embed/6QzHkMY9JYk" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
</div>

<p>
    Without context, from watching the ending scene, the music was very sad and depressing. It starts with a zoomed in
    angle of a guy drinking by himself. Then the shot focused on the television showing the news that covered something
    thats happening outside of their country because the girl that was being shown looked caucasian while the
    environment that was being shot looked it was taken in Asia. After that, the guy went home and comforted a naked
    girl. The brightness was very dark and was more zoomed out, showing more of the city.
    <hr>
<h2>Connecting Mise-en-Scene Techniques and Close Reading</h2>
<p>
    To be more in depth and closely paying attention to the ending scene, the scene begins with a close-up shot of the
    man sitting alone, seemingly deep in thought, in a crowded bar. The atmosphere is somber, and the music intensifies
    the emotional weight of the moment. The man's demeanor reflects a sense of sadness and reflection. The camera then
    transitions to a different location, revealing the man's home. As he enters, he is greeted by his
    young daughter. The lighting in the room is soft and warm, creating a contrast to the earlier scene in the bar. The
    daughter is deaf, and the man communicates with her using sign language. Their interaction is tender and heartfelt,
    as the father lovingly embraces his daughter. The emotional bond between them is noticeble with their empahetic hug,
    and the scene conveys a sense of deep love and connection. Despite the challenges they may face, there is a strong
    bond of understanding and support between them.
</p>
<p>
    The ending scene in "Babel" serves as a reminder of the universal nature of human emotions and the power of love and
    family. The ending scene suggests that despite the challenges shown in the film, there is a strong human connection
    that goes beyond cultural and language differences. It leaves viewers with hope and resilience in difficult times.
    Empathy doesn't depend on social class or race; it is what makes us similar and surpasses borders. The detailed
    ending scene illustrates how events in different parts of the world are interconnected and have far-reaching
    effects.
</p>

</p>