<link rel="stylesheet" href="/css/style.css">
</link>
<script src="program.js"></script>
<meta charset="UTF-8">

<title>Comparing Literature</title>
</head>
<div id="banner">
    <a href="/"><img src="/images/banner.jpg">
    </a>
    <h1>
       Persepolis and Spider-Man 2
    </h1>

</div>
<div class="dropdown-container">
    <div class="dropdown">
        <button class="dropbtn">Literature</button>
        <div class="dropdown-content">
            <a href="persepolis">Persepolis</a>
            <a href="whiteTiger">The White Tiger</a>

        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Films</button>
        <div class="dropdown-content">
            <a href="babel">Babel</a>
            <a href="mountainsMayDepart">Mountains May Depart</a>

        </div>
    </div>
    <div class="dropdown">
        <a href="compLiterature"><button class="dropbtn">Comparative</button></a>
    </div>
    <div class="dropdown">
        <a href="outcome"><button class="dropbtn">Outcome</button></a>
    </div>
</div>

<h1>Determing a Shared Theme</h1>
<p>
    I will be talking about how I used close-reading and Mise-En-Scene techniques to show how both the Persepolis and the blockbuster movie Spider-man 2 portray a shared theme of Identity.
</p>
<h2>Persepolis</h2>
<div id="persepolisImg">
    <img src="/images/persepolis.gif">
</div>
<p>
    Identity is a central theme in "Persepolis", as Marjane Satrapi navigates the complex process of defining
    herself in
    the midst of political upheaval and cultural conflict. As a child, Marjane is proud of her Iranian identity and
    her
    family's progressive values, but as she grows older, she struggles to reconcile these values with the reality of
    life under the Islamic Republic. Throughout the story, as she grows older, she experiences cultural differences
    between Iran and Western countries, further complicating her identity. She rebels against the government and
    tries
    to distance herself from her culture, but ultimately realizes that her identity is tied to her homeland and her
    family. She faces conflicts between her personal identity and the societal expectations placed on her. In the
    novel
    she mentions that she is forced to conform to the strict dress code and religious regulations of the Islamic
    Republic, which clashes with her desire for personal freedom and expression.
</p>
<a href="persepolis"><button>Close Reading</button></a>

<hr>
<h2>Spider-Man 2</h2>
<div id="spiderman">
    <a href="https://youtu.be/AWWcv2ZM1Qc?t=77" target="_blank"><img src="/images/spidermanimg.jpg"></a>
</div>

<p>
    In the movie Spider-Man 2, the theme of identity is explored through the character of Peter Parker, also known as
    Spider-Man, portrayed by Tobey Maguire. Peter struggles to balance his superhero persona with his personal life, as
    he grapples with the responsibilities that come with his secret identity. His alter-ego strains his relationships
    with his friends, family, and love interest, Mary Jane Watson. Furthermore, his sense of identity is challenged by
    the arrival of Dr. Otto Octavius, who becomes the villainous Doctor Octopus after a failed experiment. Like Peter,
    Octavius also struggles with the consequences of his identity and its impact on those around him. The film portrays
    the idea that one's identity is not fixed and can be influenced by the choices one makes and the events that occur
    in their life. Overall, Spider-Man 2 uses the theme of identity to add depth and complexity to its characters and
    explore the complexities of being a hero.
</p>

<p>Clicking on the image of Spider-Man will lead you to a Youtube link where you can watch Peter talking to his Uncle. The scene begins with the camera zooming onto Peter's face while he is sitting on his bed in a quiet and dimly lit room with lighting shining half of his face. The scene transitions to a conversation of Peter seeking solace and guidance from his uncle in his car where his uncle last spoke to him about responsibility. He feels the heavy burden of being Spider-Man weighing on him, both physically and emotionally. Overwhelmed by doubt and fear, Peter opens up to the memory of his beloved uncle, sharing how being a superhero has taken a toll on his personal life and relationships. Tearfully, he admits his struggle to balance his identities as Peter Parker and Spider-Man. In the very end of the scene, he chose to not be Spider-Man anymore, and focus on his responsibilities as being Peter Parker and his relationship with Mary Jane by throwing away his Spider-man suit into the garbage. As the light fades, light symbolizes Peter's decision to let go of his identity as Spider-Man and the darkness that accompanies it. However, the remaining eye of the mask is still visible amidst the fading light. This serves as a visual reminder of the legacy and responsibility that Peter has carried as Spider-Man. It highlights the internal struggle Peter faces in relinquishing his role as a hero, as the eye represents the watchful and vigilant nature that has defined his crime-fighting alter ego. The lingering presence of the eye suggests that although Peter is giving up his suit, the spirit of Spider-Man will continue to influence and guide him in some way, even as he steps away from that particular path.</p>
<hr>
<p>
    Overall, both Spider-Man 2 and Persepolis explore the theme of identity through their protagonists' struggles to understand who they are, what they stand for, and how they fit into the world around them.
</p>