<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/style.css">
</link>
<script src="program.js"></script>
<meta charset="UTF-8">
<title>CMLT270 Final Project</title>
</head>
<h1>
    CMLT270 Final Project
</h1>

<body>
    <div id="intro">
        In this website, I will be showing you how in the graphic novel "Persepolis" that we've read in class and the movie "Spider-Man 2" both share the common theme of Identity.
    </div>
    <h2>Persepolis</h2>
    <div>
        <a href="/persepolis">
            <img src="images/persepolis.gif" alt="persepolis">
        </a>

    </div>

    <h2>Spider-Man 2</h2>
    <div>
        <a href="/spiderman">
            <img src="images/spidermanbackground.jpg" alt="spiderman">
        </a>

    </div>

</body>
<footer>
    <div id="footerlink">
        <a href="/">Return Back to Home Page</a>
    </div>
</footer>