<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/style.css">
</link>
<script src="program.js"></script>
<meta charset="UTF-8">
<title>CMLT270 Final Project</title>
</head>
<div id="banner">
    <a href="/"><img src="/images/banner.jpg">
    </a>
    <h1>
        CMLT270 WebPage
    </h1>
</div>
<h2>
    Welcome to CMLT270
</h2>
<h3>
    In this website, I will be showing you some materials that I have read while participating in this class and
    show you what I have learned out of this class.
</h3>
<div id="smallLogo">

    <img src="/images/CMLT270Logo.png">
</div>

<div id="learnMore">
    <a href="introduction">
        <button>Learn More</button></a>
</div>