<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/style.css">
</link>
<script src="program.js"></script>
<meta charset="UTF-8">

<title>CMLT270 Final Project</title>
</head>
<div id="banner">
    <a href="/"><img src="/images/banner.jpg">
    </a>
    <h1>
        CMLT270
    </h1>

</div>

<body>

    <p>
        This course is about global/world literature and social change. In the beginning, I started to learn the basics
        of what each of these two major concepts mean, and then dig deeper to see how they interact with each other.
        Throughout the course, I have read novels, graphic novels, short stories, poems, and watched a few movies and
        examine this material within the sociocultural context. Within the course, Professor Dr. Mehdy Sedaghat Payam
        has taught me valuable techniques of close reading in literature and film. I will be showing a few examples of
        how I have applied this technique in class and to the world.
    </p>
    <br><br>

    <div class="dropdown-container">
        <div class="dropdown">
            <button class="dropbtn">Literature</button>
            <div class="dropdown-content">
                <a href="persepolis">Persepolis</a>
                <a href="whiteTiger">The White Tiger</a>

            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Films</button>
            <div class="dropdown-content">
                <a href="babel">Babel</a>
                <a href="mountainsMayDepart">Mountains May Depart</a>

            </div>
        </div>
        <div class="dropdown">
            <a href="compLiterature"><button class="dropbtn">Comparative</button></a>
        </div>
        <div class="dropdown">
            <a href="outcome"><button class="dropbtn">Outcome</button></a>
        </div>
    </div>
</body>