<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/style.css">
</link>
<script src="program.js"></script>
<meta charset="UTF-8">

<head>
    <title>CMLT270 Final Project</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,500&display=swap"
        rel="stylesheet">
</head>
<style>
    body {
        position: relative;
        font-family: 'Roboto', sans-serif;
    }
</style>
<div id="banner">
    <a href="/"><img src="/images/banner.jpg">
    </a>
    <h1>
        CMLT270
    </h1>

</div>

<body>
    <div class="dropdown-container">
        <div class="dropdown">
            <button class="dropbtn">Literature</button>
            <div class="dropdown-content">
                <a href="persepolis">Persepolis</a>
                <a href="whiteTiger">The White Tiger</a>

            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Films</button>
            <div class="dropdown-content">
                <a href="babel">Babel</a>
                <a href="mountainsMayDepart">Mountains May Depart</a>

            </div>
        </div>
        <div class="dropdown">
            <a href="compLiterature"><button class="dropbtn">Comparative</button></a>
        </div>
        <div class="dropdown">
            <a href="outcome"><button class="dropbtn">Outcome</button></a>
        </div>
    </div>
    <p>
        This course explores global/world literature and its connection to social change. We started by learning the
        basic principles of these concepts and then delved deeper into how they relate to each other. Throughout the
        course, we read various types of literature like novels, graphic novels, short stories, and poems. We also
        watched movies that were relevant to the topics we studied. By analyzing these materials in their social and
        cultural context, we discovered deeper meanings in their stories.
    <p>

        Professor Dr. Mehdy Sedaghat Payam taught us valuable techniques for closely reading literature and film. We
        learned to analyze the details, symbols, and themes present in the texts and movies we studied. This helped us
        understand them better and gave us a tool to critically engage with the world around us.
    </p>

    <p>

        In the course, we had the opportunity to apply close reading techniques in class discussions and real-life
        situations. By examining specific examples, we uncovered hidden meanings, explored different perspectives, and
        understood how literature and film can have a profound impact on society. These practical applications showed us
        how literature and movies can inspire social change and made us appreciate their transformative power.
    </p>
    </p>
    <br><br>

</body>