<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/style.css">
</link>
<script src="program.js"></script>
<meta charset="UTF-8">

<head>
    <title>Mountains May Depart</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,500&display=swap"
        rel="stylesheet">
</head>
<style>
    body {
        position: relative;
        font-family: 'Roboto', sans-serif;
    }
</style>

<div id="banner">
    <a href="/"><img src="/images/banner.jpg">
    </a>
    <h1>
        Mountains May Depart
    </h1>
</div>
<div class="dropdown-container">
    <div class="dropdown">
        <button class="dropbtn">Literature</button>
        <div class="dropdown-content">
            <a href="persepolis">Persepolis</a>
            <a href="whiteTiger">The White Tiger</a>

        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Films</button>
        <div class="dropdown-content">
            <a href="babel">Babel</a>
            <a href="mountainsMayDepart">Mountains May Depart</a>

        </div>
    </div>
    <div class="dropdown">
        <a href="compLiterature"><button class="dropbtn">Comparative</button></a>
    </div>
    <div class="dropdown">
        <a href="outcome"><button class="dropbtn">Outcome</button></a>
    </div>
</div>
<h1>
    <a href="https://filmglossary.ccnmtl.columbia.edu/term/mise-en-scene/" title="Goes to the Mise-en-Scene Page"
        target="_blank">Mise-en-Scene</a>
</h1>
<div id="centerVid">

    <iframe width="560" height="315" src="https://www.youtube.com/embed/9bztHtxLDvQ" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
</div>

<p>
    In the beginning of the scene, you can see a small Chinese town in the 1990s, the camera captures a group of friends
    joyously dancing and laughing together. The scene exudes a sense of youthful exuberance and camaraderie as they move
    in unison, their faces filled with hope and promise. The lively atmosphere is accentuated by the vibrant colors and
    the infectious energy radiating from the characters. Everyone was facing the camera and everyone’s body was being
    shown.
</p>

<hr>
<div id="centerVid">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/jDLyIqlRF2U" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
</div>
<p>
    In the end, there was only one person on the screen dancing alone. The scene was shot in a more sad and lonely tone
    as it was being shot from her back and darker background. The low camera angle during the final scene sort of puts
    emphasis on how she is alone by herself, and it also gradually gets farther away from her, adding a depressing
    effect. The repetition of the same moves by the character talks about how she misses those happy moments.
</p>