<link rel="stylesheet" href="/css/style.css">
</link>
<script src="program.js"></script>
<meta charset="UTF-8">

<title>Outcome</title>
</head>
<div id="banner">
    <a href="/"><img src="/images/banner.jpg">
    </a>
    <h1>
       Outcome 
    </h1>

</div>
<div class="dropdown-container">
    <div class="dropdown">
        <button class="dropbtn">Literature</button>
        <div class="dropdown-content">
            <a href="persepolis">Persepolis</a>
            <a href="whiteTiger">The White Tiger</a>

        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Films</button>
        <div class="dropdown-content">
            <a href="babel">Babel</a>
            <a href="mountainsMayDepart">Mountains May Depart</a>

        </div>
    </div>
    <div class="dropdown">
        <a href="compLiterature"><button class="dropbtn">Comparative</button></a>
    </div>
    <div class="dropdown">
        <a href="outcome"><button class="dropbtn">Outcome</button></a>
    </div>
</div>