<link rel="stylesheet" href="/css/style.css">
</link>
<script src="program.js"></script>
<meta charset="UTF-8">

<head>
    <title>Outcome</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,500&display=swap"
        rel="stylesheet">
</head>
<style>
    body {
        position: relative;
        font-family: 'Roboto', sans-serif;
    }
</style>
<div id="banner">
    <a href="/"><img src="/images/banner.jpg">
    </a>
    <h1>
        Outcome
    </h1>

</div>
<div class="dropdown-container">
    <div class="dropdown">
        <button class="dropbtn">Literature</button>
        <div class="dropdown-content">
            <a href="persepolis">Persepolis</a>
            <a href="whiteTiger">The White Tiger</a>

        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Films</button>
        <div class="dropdown-content">
            <a href="babel">Babel</a>
            <a href="mountainsMayDepart">Mountains May Depart</a>

        </div>
    </div>
    <div class="dropdown">
        <a href="compLiterature"><button class="dropbtn">Comparative</button></a>
    </div>
    <div class="dropdown">
        <a href="outcome"><button class="dropbtn">Outcome</button></a>
    </div>
</div>

<body>
    <p>
        The course on global literature and social change has been a transformative experience, allowing me to
        explore the intricate relationship between storytelling and societal changes. Beginning with a basic
        understanding of these concepts, I delved deeper to uncover their interplay and discover how literature and film
        can shape our perspectives and drive social change. By immersing myself in diverse literary forms, such as
        novels, graphic novels, short stories, and poems, and engaging with cinematic films, I have gained a profound
        understanding of the transformative power of storytelling and its role in shaping perspectives, challenging
        societal norms, and igniting movements for change.

    <p>
        This exploration allowed me to unravel the layers of meaning embedded within the narratives, and understand the
        profound impact that literature and film can have on society. Applying close reading techniques, I dissected
        selected examples, revealing hidden messages, alternative perspectives, and the nuanced nuances of symbols and
        themes.

    </p>
    <p>
        Reading novels like Persepolis and The White Tiger, along with watching films in the course, has been truly
        eye-opening. Each story gives a unique perspective on the human experience, showing the challenges and successes
        faced by people in different cultures. For instance, The White Tiger reveals the harsh realities of social
        inequality and corruption in India, making us confront uncomfortable truths about the lives of the less
        privileged. Aravind Adiga's powerful storytelling challenges our assumptions and urges us to question the way
        things are. On the other hand, Persepolis is a moving graphic novel about the author's upbringing in Iran during
        a time of political unrest. Through her illustrations and honest narrative, Marjane Satrapi shows us the
        resilience of the human spirit in oppressive circumstances. Both books remind us that literature has the power
        to broaden our perspectives, cultivate empathy, and make us reflect on the world we live in. They have left a
        lasting impact, encouraging me to critically examine the diverse experiences of humanity.
    </p>
    <p>
        In conclusion, this course has been a life-changing experience, allowing me to appreciate the relationship
        between global literature and social change. The practical application of close reading
        extended beyond classroom discussions. As I move forward armed with the tools and insights gained from this
        course, I am equipped with the knowledge and skills to venture into the world, employing close reading
        techniques to critically analyze and address real-world issues. By scrutinizing the texts and movies I
        encountered, I gained a heightened awareness of the social inequalities, injustices, and cultural complexities
        that shape our global community.
    </p>
    </p>
    <div id="outcomePic">
        <img src="/images/socialChange.PNG">
    </div>
</body>