<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/style.css">
</link>
<script src="program.js"></script>
<meta charset="UTF-8">
<title>Persepolis</title>

<h1>
    Persepolis
</h1>

<body>
    <p>
        In this course, we've read the graphic novel Persepolis by Marjane Satrapi. The novel tells the story of her
        life
        growing up in Iran during and after the Islamic Revolution. The story begins with
        Marjane's childhood in Tehran in the 1970s, where she was raised in a liberal, intellectual family. When the
        Islamic
        Revolution of 1979 occurs, Marjane's family struggles to adapt to the new fundamentalist regime.

        As Marjane grows up, she becomes increasingly disillusioned with the new government and the restrictions placed
        on
        personal freedom. She rebels against the regime by listening to banned music and protesting against the
        government.
        Her parents eventually send her to live with relatives in Austria for her safety, where she experiences a new
        set of
        challenges as an Iranian immigrant.

        Marjane eventually returns to Iran, but finds that her homeland has changed in ways she never imagined. She
        becomes
        depressed and alienated, and eventually decides to leave Iran for good. The story ends with Marjane reflecting
        on
        her experiences and the importance of her family and her homeland to her identity.

        Persepolis conveys a powerful coming-of-age story that explores themes of identity, family, politics, and
        cultural
        differences. Through Marjane's personal journey, readers gain insight into the complexities of Iranian history
        and
        culture, as well as the challenges faced by immigrants and those living under repressive regimes. In this
        website I
        will be focusing on the theme identity.

    <p>
        <hr>
    <p>
        Identity is a central theme in "Persepolis", as Marjane Satrapi navigates the complex process of defining
        herself in
        the midst of political upheaval and cultural conflict. As a child, Marjane is proud of her Iranian identity and
        her
        family's progressive values, but as she grows older, she struggles to reconcile these values with the reality of
        life under the Islamic Republic. Throughout the story, as she grows older, she experiences cultural differences
        between Iran and Western countries, further complicating her identity. She rebels against the government and
        tries
        to distance herself from her culture, but ultimately realizes that her identity is tied to her homeland and her
        family. She faces conflicts between her personal identity and the societal expectations placed on her. In the
        novel
        she mentions that she is forced to conform to the strict dress code and religious regulations of the Islamic
        Republic, which clashes with her desire for personal freedom and expression.

    <p>
    <div id="book">
        <img src="images/persepolisbook.jpg" alt="book">
    </div>

<div id="nextPage">

    <button><a href="Spiderman.html">Go to Next Page</a></button>
</div>
</body>
<footer>
    <div id="footerlink">
        <a href="/">Return Back to Home Page</a>
    </div>
</footer>