<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/style.css">
</link>
<script src="program.js"></script>
<meta charset="UTF-8">
<title>Persepolis</title>
<div id="banner">
    <a href="/"><img src="/images/banner.jpg">
    </a>
    <h1>
        Persepolis
    </h1>
</div>

<div class="dropdown-container">
    <div class="dropdown">
        <button class="dropbtn">Literature</button>
        <div class="dropdown-content">
            <a href="persepolis">Persepolis</a>
            <a href="whiteTiger">The White Tiger</a>

        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Films</button>
        <div class="dropdown-content">
            <a href="babel">Babel</a>
            <a href="mountainsMayDepart">Mountains May Depart</a>

        </div>
    </div>
    <div class="dropdown">
        <a href="compLiterature"><button class="dropbtn">Comparative</button></a>
    </div>
    <div class="dropdown">
        <a href="outcome"><button class="dropbtn">Outcome</button></a>
    </div>
</div>

<body>
    <div id="persepolisSmall">
        <img src="images/persepolisbook.jpg" alt="book">
    </div>
    <h2>
        <a href="https://cdn.vanderbilt.edu/vu-wp0/wp-content/uploads/sites/164/2019/03/28042440/Reading-Active-Reading-Strategies-Close-Reading.pdf"
            title="Goes to Close-Reading Techniques Page" target="_blank">Persepolis</a>
    </h2>

    <p>
        In this course, we've read the graphic novel Persepolis by Marjane Satrapi. The novel tells the story of her
        life
        growing up in Iran during and after the Islamic Revolution. The story begins with
        Marjane's childhood in Tehran in the 1970s, where she was raised in a liberal, intellectual family. When the
        Islamic
        Revolution of 1979 occurs, Marjane's family struggles to adapt to the new fundamentalist regime.

        As Marjane grows up, she becomes increasingly disillusioned with the new government and the restrictions placed
        on
        personal freedom. She rebels against the regime by listening to banned music and protesting against the
        government.
        Her parents eventually send her to live with relatives in Austria for her safety, where she experiences a new
        set of
        challenges as an Iranian immigrant.

        Marjane eventually returns to Iran, but finds that her homeland has changed in ways she never imagined. She
        becomes
        depressed and alienated, and eventually decides to leave Iran for good. The story ends with Marjane reflecting
        on
        her experiences and the importance of her family and her homeland to her identity.

        Persepolis conveys a powerful coming-of-age story that explores themes of identity, family, politics, and
        cultural
        differences. Through Marjane's personal journey, readers gain insight into the complexities of Iranian history
        and
        culture, as well as the challenges faced by immigrants and those living under repressive regimes.
    </p>
    <hr>
    <h2>
        Close-Reading
    </h2>
    <p>

        In Persepolis, the graphic novel by Marjane Satrapi, we can observe the transformation of the main character as
        she embraces elements of Western culture. In the first panel, Marjane is depicted joyfully dancing and mimicking
        playing an electric guitar with her tennis racket. This playful act takes place in her room adorned with a new
        Iron Maiden poster, a gift from her parents during their trip to Turkey. It becomes evident that Marjane is
        becoming intrigued by English customs and developing a liking for heavy metal bands.

        Continuing to the next panel, Marjane assumes a modeling pose reminiscent of Kim Wilde, a renowned English
        singer. This gesture illustrates her growing fascination with the Western music scene and the influence it holds
        over her. In subsequent panels, we witness Marjane carefully selecting her attire, donning her Nike shoes and
        denim jacket while keeping her veil loosely draped on her head, revealing her hair. This deliberate choice
        showcases her evolving fashion sense and how she is beginning to adopt Western fashion trends.

        Although Marjane still wears her veil, it is notable that she no longer covers her entire head, signaling a
        gradual transition from her Iranian heritage to a more Western culture. She seeks to blend in with Western
        society, evident in her fashion choices and her alignment with the music and fashion culture prevalent in
        Austria, where she now resides.

        Through these visual depictions, Satrapi effectively portrays Marjane's journey of cultural assimilation and her
        desire to integrate into the Western world while retaining aspects of her identity.
    <div id="persepolisSmall2">
        <img src="/images/persepolisComic.PNG">
    </div>

    </p>

</body>