<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/style.css">
</link>
<script src="program.js"></script>
<meta charset="UTF-8">
<title>Spiderman</title>
<h1>
    Spider-Man 2
</h1>
<p>
    "Spider-Man 2" is a superhero film directed by Sam Raimi and starring Tobey Maguire as Peter Parker, aka Spider-Man.
    The film picks up two years after the events of the first movie, with Peter struggling to balance his
    responsibilities as Spider-Man with his personal life. He is struggling to maintain his relationships with his best
    friend Harry Osborn (James Franco) and his love interest Mary Jane Watson (Kirsten Dunst), while also trying to keep
    New York City safe from villains like Dr. Octopus (Alfred Molina).
    As Peter's personal life falls apart, he begins to doubt his abilities as Spider-Man and considers giving up his
    superhero alter ego. However, when Dr. Octopus begins wreaking havoc on the city, Peter must confront his fears and
    insecurities and rise to the challenge. Along the way, he learns important lessons about responsibility, sacrifice,
    and the true meaning of heroism.

</p>
<hr>
<p>
    In the movie Spider-Man 2, the theme of identity is explored through the character of Peter Parker, also known as
    Spider-Man, portrayed by Tobey Maguire. Peter struggles to balance his superhero persona with his personal life, as
    he grapples with the responsibilities that come with his secret identity. His alter-ego strains his relationships
    with his friends, family, and love interest, Mary Jane Watson. Furthermore, his sense of identity is challenged by
    the arrival of Dr. Otto Octavius, who becomes the villainous Doctor Octopus after a failed experiment. Like Peter,
    Octavius also struggles with the consequences of his identity and its impact on those around him. The film portrays
    the idea that one's identity is not fixed and can be influenced by the choices one makes and the events that occur
    in their life. Overall, Spider-Man 2 uses the theme of identity to add depth and complexity to its characters and
    explore the complexities of being a hero.
</p>
<hr>
<div class="button-container">
    <button><a href="Comparison.html">Go to Comparison Page</a></button>
    <button onclick="window.open('https://www.youtube.com/watch?v=AWWcv2ZM1Qc&ab_channel=Voyage', '_blank')">Watch Video</button>
</div>

<body>
    <div id="spider">
        <img src="images/spidermanimg.jpg" alt="spidermanpic">
    </div>
</body>
<footer>
    <div id="footerlink">
        <a href="/">Return Back to Home Page</a>
    </div>
</footer>