<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/style.css">
</link>
<script src="program.js"></script>
<meta charset="UTF-8">

<title>The White Tiger</title>
</head>
<div id="banner">
    <a href="/"><img src="/images/banner.jpg">
    </a>
    <h1>
    The White Tiger
    </h1>
</div>
<div class="dropdown-container">
    <div class="dropdown">
        <button class="dropbtn">Literature</button>
        <div class="dropdown-content">
            <a href="persepolis">Persepolis</a>
            <a href="whiteTiger">The White Tiger</a>

        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Films</button>
        <div class="dropdown-content">
            <a href="babel">Babel</a>
            <a href="mountainsMayDepart">Mountains May Depart</a>

        </div>
    </div>
    <div class="dropdown">
        <a href="compLiterature"><button class="dropbtn">Comparative</button></a>
    </div>
    <div class="dropdown">
        <a href="outcome"><button class="dropbtn">Outcome</button></a>
    </div>
</div>
<body>
   
<div id="makeSmall">
    <img src="/images/whitetiger.jpg">
</div>
<h2>The White Tiger</h2>
<p>
    In the course, I have read a novel, "The White Tiger" which is anovel written by Aravind Adiga. Set in contemporary India, the story follows Balram Halwai, a poor and ambitious young man from the rural village of Laxmangarh. Balram narrates his journey from being a servant in a small village to becoming a successful entrepreneur in the bustling city of Bangalore.

    As a lower-caste individual, Balram faces numerous challenges and social inequalities that restrict his opportunities for advancement. However, his resourcefulness and cunning nature enable him to escape his servitude by becoming the driver for a wealthy landlord, Ashok, and his wife Pinky. Balram becomes fascinated by their luxurious lifestyle and gradually develops a desire to break free from the oppressive social hierarchy.
    
    Driven by his ambitions and disillusionment with the prevalent corruption and injustice in Indian society, Balram commits a heinous act that alters his life forever. He orchestrates the murder of his employer, Ashok, and escapes with a significant sum of money. Balram uses this newfound wealth to establish his own business, finally achieving the freedom and prosperity he has always yearned for.
    
    Throughout the novel, Adiga explores themes of class struggle, corruption, and the dark underbelly of modern India. "The White Tiger" provides a sharp and satirical commentary on the country's socioeconomic disparities, shedding light on the harsh realities faced by the lower classes while questioning the morality of the privileged elite.
</p>
<hr>
<h2>
    <a href="https://cdn.vanderbilt.edu/vu-wp0/wp-content/uploads/sites/164/2019/03/28042440/Reading-Active-Reading-Strategies-Close-Reading.pdf" title="Goes to Close-Reading Techniques Page" target="_blank">Close Reading</a>
</h2>

<p>
    A quote from the book, "When you get here, you’ll be told we Indians invented everything from the Internet to hard-boiled eggs to spaceships before the British stole it all from us.
    Nonsense. The greatest thing to come out of this country in the ten thousand years of its history is the Rooster Coop.
    Go to Old Delhi, behind the Jama Masjid, and look at the way they keep chickens there in the market. Hundreds of pale hens and brightly colored roosters, stuffed tightly into wire-mesh cages, packed as tightly as worms in a belly, pecking each other and shitting on each other, jostling just for breathing space; the whole cage giving off a horrible stench—the stench of terrified, feathered flesh. On the wooden desk above this coop sits a grinning young butcher, showing off the flesh and organs of a recently chopped-up chicken, still oleaginous with a coating of dark blood. The roosters in the coop smell the blood from above. They see the organs of their brothers lying around them. They know they’re next. Yet they do not rebel. They do not try to get out of the coop.
    The very same thing is done with human beings in this country.""
</p>

<p>
     The author skillfully employs vivid imagery and descriptive language to draw a parallel between the brutal slaughter of chickens and the plight of humans, specifically highlighting the lack of resistance among Indians. Through the passage, the author paints a vivid picture of the chickens' confinement and the deplorable conditions they endure. The text describes the chickens as "hundreds of pale hens and brightly colored roosters, stuffed tightly into wire-mesh cages, packed as tightly as worms in a belly." This powerful analogy conveys the author's intention to prompt readers to see the chickens as a representation of what is happening to the Indians.

     The chickens, much like the Indians, are depicted as being confined in prisons, their lives restricted and their ability to breathe constrained. They peck and jostle each other, even defecating on one another, in a desperate struggle for minimal breathing space. This portrayal serves to evoke a sense of empathy and draw a parallel to the Indian population trapped in oppressive circumstances.
     
     The author further emphasizes the Indians' passive response to their impending doom, stating, "They know they're next. Yet they do not rebel. They do not try to get out of the coop." This line highlights the resignation and lack of resistance displayed by the Indians in the face of their imminent fate. It suggests that, like the chickens, they accept their fate without attempting to fight back against their oppressors.
     
     Through the masterful use of imagery and comparisons, the author compellingly conveys the profound message that the mistreatment and lack of resistance among the chickens mirror the submission and lack of rebellion observed among the Indians.
</p>

