<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/style.css">
</link>
<script src="program.js"></script>
<meta charset="UTF-8">

<head>
    <title>The White Tiger</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,500&display=swap"
        rel="stylesheet">
</head>
<style>
    body {
        position: relative;
        font-family: 'Roboto', sans-serif;
    }
</style>

<div id="banner">
    <a href="/"><img src="/images/banner.jpg">
    </a>
    <h1>
        The White Tiger
    </h1>
</div>
<div class="dropdown-container">
    <div class="dropdown">
        <button class="dropbtn">Literature</button>
        <div class="dropdown-content">
            <a href="persepolis">Persepolis</a>
            <a href="whiteTiger">The White Tiger</a>

        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Films</button>
        <div class="dropdown-content">
            <a href="babel">Babel</a>
            <a href="mountainsMayDepart">Mountains May Depart</a>

        </div>
    </div>
    <div class="dropdown">
        <a href="compLiterature"><button class="dropbtn">Comparative</button></a>
    </div>
    <div class="dropdown">
        <a href="outcome"><button class="dropbtn">Outcome</button></a>
    </div>
</div>

<body>

    <div id="makeSmall">
        <img src="/images/whitetiger.jpg">
    </div>
    <h2>The White Tiger</h2>
    <p>
        In the course, I have read a novel, "The White Tiger" which is anovel written by Aravind Adiga. It's set in
        modern-day India and tells the story of a young man named Balram Halwai. He comes from a poor village called
        Laxmangarh and has big ambitions. Balram shares his journey from being a servant in the village to becoming a
        successful entrepreneur in Bangalore, a busy city. Because he belongs to a lower caste, Balram faces many
        challenges and unfair treatment that limit his opportunities. But he's resourceful and clever, so he manages to
        escape his servant life by becoming a driver for a rich landlord named Ashok and his wife Pinky. Balram is
        fascinated by their luxurious lifestyle and starts dreaming of breaking free from the social hierarchy that
        oppresses him. He's driven by his ambitions and disappointment with the corruption and injustice in Indian
        society. So, he does something terrible. He plans and carries out the murder of his employer, Ashok, and takes a
        lot of money. With this newfound wealth, Balram starts his own business and finally achieves the freedom and
        success he always wanted. The novel explores themes of social class struggle, corruption, and the darker side of
        modern India. It gives a sharp and satirical critique of the country's economic disparities, revealing the harsh
        realities faced by the lower classes and questioning the morality of the privileged elite.
    </p>
    <hr>
    <h2>
        <a href="https://cdn.vanderbilt.edu/vu-wp0/wp-content/uploads/sites/164/2019/03/28042440/Reading-Active-Reading-Strategies-Close-Reading.pdf"
            title="Goes to Close-Reading Techniques Page" target="_blank">Close Reading</a>
    </h2>

    <p>
        A quote from the book, "When you get here, you’ll be told we Indians invented everything from the Internet to
        hard-boiled eggs to spaceships before the British stole it all from us.
        Nonsense. The greatest thing to come out of this country in the ten thousand years of its history is the Rooster
        Coop.
        Go to Old Delhi, behind the Jama Masjid, and look at the way they keep chickens there in the market. Hundreds of
        pale hens and brightly colored roosters, stuffed tightly into wire-mesh cages, packed as tightly as worms in a
        belly, pecking each other and shitting on each other, jostling just for breathing space; the whole cage giving
        off a horrible stench—the stench of terrified, feathered flesh. On the wooden desk above this coop sits a
        grinning young butcher, showing off the flesh and organs of a recently chopped-up chicken, still oleaginous with
        a coating of dark blood. The roosters in the coop smell the blood from above. They see the organs of their
        brothers lying around them. They know they’re next. Yet they do not rebel. They do not try to get out of the
        coop.
        The very same thing is done with human beings in this country.""
    </p>

    <p>
        The author uses strong descriptions to show how chickens being slaughtered and humans, specifically Indians,
        share similar situations. The passage vividly describes the chickens' cramped and terrible conditions, comparing
        them to worms in a belly. This comparison aims to make readers see the chickens as symbols of what's happening
        to the Indians. Both the chickens and the Indians are portrayed as being trapped and restricted, struggling to
        breathe. They fight for breathing space, even defecating on each other. This depiction creates empathy and draws
        a connection to the Indian population facing oppressive circumstances. The author also emphasizes the Indians'
        passive response, noting that they know their fate but don't rebel or try to escape. This line shows the
        Indians' resignation and lack of resistance in the face of their impending doom. It suggests that, like the
        chickens, they accept their fate without fighting back. By using vivid imagery and comparisons, the author
        effectively conveys the message that the mistreatment and lack of resistance among the chickens reflect the
        submission and absence of rebellion among the Indians.
    </p>